
.mystory { 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
  background-image: url(/public/BACKGROUND.jpg);
 background-position: flex;
  background-size: cover; 
  display: flex;
  width: 100%;
  height: 1200px;
 
}
.story {
  font-size: 20px;
  position: relative;
  top: -130px;
  right: 450px;
  text-align: justify;
  
}

.joePicture2 {
position: relative;
top: -100px;
right: -880px;
height: 110px;
width: 110px;
}

.gamecube {
  position: relative;
  top: -120px;
  left:-00px;
  height: 200px;
  width: 250px;
}

.view {
  height: 250px;
  width: 250px;
  position: relative;
  left: 750px;
  top: -200px;
  z-index: 1;
}

.van {
  height: 220px;
  width: 250px;
  position: relative;
  left: 950px;
  top: -400px;
}

.travel {
  height: 250px;
  width: 250px;
  position: relative;
  left: 800px;
  top: -250px;
  z-index: 1;
}

.standup {
  height: 250px;
  width: 250px;
  position: relative;
  left: 750px;
  top: -500px;
  
}
.st {
  height: 250px;
  width: 250px;
  position: relative;
  left: 450px;
  top: -350px;
}

.face {
  height: 250px;
  width: 250px;
  position: relative;
  left: 240px;
  top: -180px;
}

.code {
  height: 250px;
  width: 250px;
  position: relative;
  left: 130px;
  top: -280px;
  z-index: 1;
}

.arsenal {
  
  height: 250px;
  width: 250px;
    position: relative;
    left: 780px;
    top: -270px;
  
}


