.projects {
    
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
  background-image: url(/public/BACKGROUND.jpg);
 background-position: flex;
  background-size: cover; 
  
    width: 100%;
    height: 1200px;
    font-size: 30px;
    top: 260px;
   
 
}

.projects .projectTitle {
    text-align: center;
    color: #3e497a;
    font-size: 60px;
    font-weight: bolder;
  }
  
  .projectList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    position: flex;
  }
  
  /* MENU ITEM STYLING */
  
  .projectItem {
    border-radius: 15px;
    width: 250px;
    height: 260px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: right;

    position: flex;
    top: -125px;
  }
  .projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .projectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 40%;
    height: 200px;
    align-content: center;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .projectItem h1 {
    font-size: 22px;
    color: #bea060;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0.9em;
    color: #bea060;
  }

  .joePicture2 {
    height: 220px;
  width: 220px;
  position: flex;
  top: 565px;
  right: 425px;

  }

.projects svg {
    font-size: 60px;
    margin: 5px;
    color: white;
    position:relative;
    top: 130px;
    right: 20px;
}
  
.javascriptSymbol2 {
    position:relative;
      top: -180px;
      right: -255px;
  }
  
  .cssSymbol2 {
    position:relative;
    top: -230px;
    right: -230px;
  }
  
  .gitSymbol2 {
    position:relative;
    top: -438px;
    right: -485px;
  }
  
  .nodeSymbol2 {
    position:relative;
    top: -305px;
    right: 660px;
  }
  
  .databaseSymbol2 {
    position:relative;
    top: -390px;
    right: -185px;
  
  }
  
  .figmaSymbol2 {
    position:relative;
    top: -160px;
    right: -310px;
  }
  .htmlSymbol2 { 
    position:relative;
    top: -220px;
    right: 765px;
  }

  .reactSymbol2 {
    position:relative;
    top: -270px;
    right: 565px;

  }

  .typescript {
   position: relative;
   top: -500px;
   right: -575px ;
  }
  
  @media only screen and (max-width: 1300px) {
    .projectList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      width: 100%;
    }
    .projectItem {
      width: 300px;
      height: 300px;
    }
  }
  