.projects {
    
  flex-direction: column;
  justify-content: center;

  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
  background-image: url(/public/BACKGROUND.jpg);
 background-position: flex;
  background-size: cover; 
  
  width: 100%;
  height: 1200px;
 
}

.projects .projectTitle {
    text-align: center;
    color: #3e497a;
    font-size: 60px;
    font-weight: bolder;
  }
  
  .projectList {
    width: 5px;
    height: 100px;
    position: relative;
    top: 105px;
    left: 695px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    border-left: 10px;
    
    
  }
  
  /* MENU ITEM STYLING */
  
  .projectItem {
  
    width: 250px;
    height: 260px;
    margin: 10px;
   
    text-align: right;
    position: relative;
    top: -70px;
    right: 20px;
    border-style: outset; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
  }
  .projectItem:hover {
    box-shadow: 0px 7px 15px rgba(251, 251, 251, 0.5);
    transition: 0.4s ease-in;
    cursor: pointer;
    
  }
  
  .projectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 40%;
    height: 200px;
    align-content: center;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .projectItem h1 {
    font-size: 22px;
    color: #bea060;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0.9em;
    color: #bea060;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
  }

  .joePicturetwo {
  height: 120px;
  width: 120px;
  position: relative;
  top: -215px;
  right: -220px;


  }

.projects svg {
    font-size: 60px;
    margin: 5px;
    color: white;
    position:relative;
    top: 130px;
    right: 20px;
    box-shadow: 0px 7px 15px #bea060(251, 251, 251, 0.5);
transition: 0.4s ease-in;
}
  
.javascriptSymbol3 {
    position:relative;
      top: -410px;
      right: -625px;
  }
  
  .cssSymbol3 {
    position:relative;
    top: -230px;
    right: 630px;
  }
  
  .gitSymbol3 {
    position:relative;
    top: -60px;
    right: -735px;
  }
  
  .nodeSymbol3 {
    position:relative;
    top: -405px;
    right: 990px;
  }
  
  .databaseSymbol3 {
    position:relative;
    top: -490px;
    right: -885px;
  
  }
  
  .figmaSymbol3 {
    position:relative;
    top: -360px;
    right: -650px;
  }
  .htmlSymbol3 { 
    position:relative;
    top: -220px;
    right: 765px;
  }

  .reactSymbol3 {
    position:relative;
    top: -510px;
    right: 795px;

  }

  .typescript3 {
   position: relative;
   top: -900px;
   right: -875px ;
  }

  .tailwind3 {
    position: relative;
    top: -1000px;
    right: 575px ;
  }

  .vercel3 {
    position: relative;
    top: -750px;
    right: -445px ;
  }
  
  
  .soc {
    position: relative;
    top: -610px;
    right: -15px ;
  }
  
  
 