
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
    background-image: url(/public/BACKGROUND.jpg);
    background-size: cover; 
 
  
  }


  
.joePicture {
  height: 220px;
  width: 220px;
  position: absolute;
  top: 360px;
  right: 150px;
 
 
}
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    line-height: 0.9em;
    color: #bea060;
    height: 50px; position: absolute;
    top: 60px;
  
  

  }

  
  .about .prompt {
    width: 40%;
    font-size: 30px;
    top: 100px;
   
  }
  .p {
    position: relative;
    top: -420%;
  }

  .paragraph {
    position: relative;
    top: 140px;
  }
 

  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
    position:relative;
    top: 130px;
    right: 20px;
    
  }

.javascriptSymbol {
  position:relative;
    top: -130px;
    right: -825px;
}

.cssSymbol {
  position:relative;
  top: -340px;
  right: -745px;
}
.reactSymbol {
  position:relative;
  top: -230px;
  right: -660px;
}
.gitSymbol {
  position:relative;
  top: -495px;
  right: -575px;
}

.nodeSymbol {
  position:relative;
  top: -370px;
  right: -495px;
}

.databaseSymbol {
  position:relative;
  top: -480px;
  right: -425px;

}

.figmaSymbol {
  position:relative;
  top: -190px;
  right: -355px;
}
.htmlSymbol { 
  position:relative;
  top: -450px;
  right: -275px;
}


 
