
.mystory { 
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
    background-image: url(/public/BACKGROUND.jpg);
  
}

.text1 {
    
    font-size: 20px;
    margin: 5px;
    color: #bea060;
   
       
    
}
.text1 h4 {
    position: relative;
    left:650px;
    color: #f0f0f0;
}

.arsenal {
    height: 200px;
    
    position: relative;
    left: 200px;
    top: 10px;
}

.joecode {
    height: 200px;
    position: relative;
    left:-930px;
    top:-150px;
    z-index: 1
    
}
.standup { 
 height:200px;
 position: relative;
 top: -160px;
 left: -240px; 
}

.st {
    height: 200px;
    position: relative;
    left: -1320px;
    top: -290px;
    z-index: 0;
  }


.van {
    height: 200px;
    position: relative;
    left: -950px;
    top: -150px;
    z-index: 0;
}
    
.view {
    height: 200px;
    position: relative;
    left: -1310px;
    top: 20px;
    z-index: 0;
}

.travel {
    height: 200px;
    position: relative;
    left: -450px;
    top: 0px;
}

.face {
    height: 200px;
    position: relative;
    top: -290px;
    left: -500px;
}

.joePicture4 {
    height: 150px;
    position: relative;
    left: 100px;
    top: 40px;
}

.gamecube {
    height: 150px;
    position: relative;
    left: -100px;
    top: -190px;
}

.mystory svg {
    font-size: 60px;
    margin: 5px;
    color: white;
    position:relative;
    top: 130px;
    right: 20px;
}
  
.javascriptSymbol4 {
    position:relative;
      top: -180px;
      right: -255px;
  }
  
  .cssSymbol4 {
    position:relative;
    top: -230px;
    right: -230px;
  }
  
  .gitSymbol4 {
    position:relative;
    top: -438px;
    right: -485px;
  }
  
  .nodeSymbol4 {
    position:relative;
    top: -305px;
    right: 660px;
  }
  
  .databaseSymbol2 {
    position:relative;
    top: -390px;
    right: -185px;
  
  }
  
  .figmaSymbol2 {
    position:relative;
    top: -160px;
    right: -310px;
  }
  .htmlSymbol2 { 
    position:relative;
    top: -220px;
    right: 765px;
  }

  .reactSymbol2 {
    position:relative;
    top: -270px;
    right: 565px;

  }

  .typescript {
   position: relative;
   top: -500px;
   right: -575px ;
  }
  

