




body {
  
  /* background-image: url(/public/BACKGROUND.jpg);
  background-size: cover;  */
  animation: moveBackground 1s linear infinite;
  max-width: 2100px;
  min-width: 2100px;
  
 
  
  margin: 0 auto;
 
}



.content {
  flex: 1;
  /* Other styles for your main content */
  padding: 0;
  margin: 0;
  position: absolute;
}

/* Your existing styles for the footer or adjust as needed */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
  
}
